<!DOCTYPE html>
<html lang="en">
<head>
  <title>Result</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #e1e1fc">

  {% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li>{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
      {% endwith %}

<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <a href="#" class="navbar-brand">Smart Invoices</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
            <a href="#" class="nav-item nav-link active">Home</a>
            <a href="#" class="nav-item nav-link">About</a>
            <a href="#" class="nav-item nav-link">Products</a>
        </div>
        <form class="form-inline ml-auto">
            <input type="text" class="form-control mr-sm-2" placeholder="Search">
            <button type="submit" class="btn btn-outline-light">Search</button>
        </form>
    </div>
</nav>

<div class="jumbotron jumbotron-fluid bg-light">
  <div class="container">
    <h1 class="display-4">SMART Invoice Detector</h1>
    <p class="lead">An AI based model to read invoices from variable sources and identifies key data points like
      vendor name, unit of currency, tax amount, PO or contract reference number from the document.</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="card text-white bg-primary col-12">
      <div class="card-header"><h5>Details Identified</h5></div>
      <div class="card-body">
        <p class="card-title">The summary of the Invoice processed is shown in the Table Below. The fields that
        could not be identified are left blank.</p>
      </div>
    </div>
  </div>

  <div class ="row">
    <div class="card" style="max-width: 80rem;">
      <div class="card-header"><h5>Results</h5></div>
      <div class="card-body">
        {{ table }}
      </div>
    </div>
  </div>
</div>

<div class="card mb-3 mt-3 offset-1 col-sm-9">
  <div class="card-header bg-primary">
    <h5 style="color: white;"> Invoice Detection Problem </h5>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>In the accounting process, vendors provide system generated
invoices/handwritten invoices for payments of contracts. Refer to the variations in sample
invoices and it gives a glimpse of the complexity in processing huge volumes of such invoices. </p>
      <footer class="blockquote-footer">AB InBev</footer>
    </blockquote>
  </div>
</div>

<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <a href="#" class="navbar-brand">Developed by : </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
            <a href="http://www.cse.iitd.ac.in/~cs1180389/" class="nav-item nav-link active">Shrey Bansal</a>
            <a href="https://github.com/MukulSingh105" class="nav-item nav-link active">Mukul Singh</a>
        </div>
    </div>
</nav>

<script>
// Add the following code if you want the name of the file appear on select
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>

</body>
</html>
