<!DOCTYPE html>
<html lang="en">
<head>
  <title>SMART Invoices</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #e1e1fc">

  {% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li>{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
      {% endwith %}

<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <a href="#" class="navbar-brand">Smart Invoices</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
            <a href="#" class="nav-item nav-link active">Home</a>
            <a href="#" class="nav-item nav-link">About</a>
            <a href="#" class="nav-item nav-link">Products</a>
        </div>
        <form class="form-inline ml-auto">
            <input type="text" class="form-control mr-sm-2" placeholder="Search">
            <button type="submit" class="btn btn-outline-light">Search</button>
        </form>
    </div>
</nav>

<div class="jumbotron jumbotron-fluid bg-light">
  <div class="container">
    <h1 class="display-4">SMART Invoice Detector</h1>
    <p class="lead">An AI based model to read invoices from variable sources and identifies key data points like
      vendor name, unit of currency, tax amount, PO or contract reference number from the document.</p>
  </div>
</div>

<div class = "card ml-5 mr-5">
  <div class = card-body>
<div class="container mt-3">
  <h2>Process Invoice</h2>
  <p>Upload an image or PDF of any invoice and the system will return the key data points identified in it.</p>
  <form action="/upload-image" method="POST" enctype="multipart/form-data">
    <p>Upload the Invoice (Image or PDF):</p>
    <div class="custom-file mb-3">
      <input type="file" class="custom-file-input" id="image" name="image">
      <label class="custom-file-label" for="customFile">Choose file</label>
    </div>

    <div class="mt-3">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
</div>
</div>


<div class="card text-white bg-primary mt-4 mb-3 ml-5" style="max-width: 70rem;">
  <div class="card-header"><h5>Download Sample Invoices</h5></div>
  <div class="card-body">
    <p>Click on the image to download it:<p>
    <a href="static/1.jpg" download="1.jpg">
      <img src="static/1.jpg" alt="W3Schools" width="150" height="150">
    </a>
    <a href="static/2.jpg" download="2.jpg">
      <img src="static/2.jpg" alt="W3Schools" width="150" height="150">
    </a>
    <a href="static/3.jpg" download="3.jpg">
      <img src="static/3.jpg" alt="W3Schools" width="150" height="150">
    </a>
    <a href="static/4.jpg" download="4.jpg">
      <img src="static/4.jpg" alt="W3Schools" width="150" height="150">
    </a>
    <a href="static/5.jpg" download="5.jpg">
      <img src="static/5.jpg" alt="W3Schools" width="150" height="150">
    </a>
    <a href="static/8.jpg" download="8.jpg">
      <img src="static/9.jpg" alt="W3Schools" width="150" height="150">
    </a>
    <a href="static/9.jpg" download="9.jpg">
      <img src="static/8.jpg" alt="W3Schools" width="150" height="150">
    </a>
    <!-- <a href="static/8.jpg" download="8.jpg">
      <img src="static/8.jpg" alt="W3Schools" width="150" height="150">
    </a>
    <a href="static/9.jpg" download="9.jpg">
      <img src="static/9.jpg" alt="W3Schools" width="150" height="150">
    </a> -->
    <!-- <a href="static/10.pdf" download="10.pdf">
      <img src="static/10.pdf" alt="W3Schools" width="150" height="150">
    </a> -->

  </div>
</div>


<div class="container">
  <div class="row">
    <div class="card text-white bg-primary mt-4 mb-3 ml-5" style="max-width: 18rem;">
      <div class="card-header"><h5>Train Data</h5></div>
      <div class="card-body">
        <p class="card-title">10,000+ Images used to train the identification model</p>
      </div>
    </div>
    <div class="card text-white bg-primary mt-4 mb-3 ml-5" style="max-width: 18rem;">
      <div class="card-header"><h5>Visitors</h5></div>
      <div class="card-body">
        <p class="card-title">103 people have visited our website till now</p>
      </div>
    </div>
    <div class="card text-white bg-primary mt-4 mb-3 ml-5" style="max-width: 18rem;">
      <div class="card-header"><h5>Invoices Recieved Today</h5></div>
      <div class="card-body">
        <p class="card-title">72 Invoices were processed today.</p>
      </div>
    </div>
</div>

<div class="card mb-3 mt-3 offset-1 col-sm-9">
  <div class="card-header bg-primary">
    <h5 style="color: white;"> Quotes for times of distress </h5>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>All our dreams can come true if we have the courage to pursue them.</p>
      <footer class="blockquote-footer">Walt Disney</footer>
    </blockquote>
  </div>
</div>
<div class="card mb-4 mt-2 offset-1 col-sm-9">
  <div class="card-header bg-primary">
    <h5 style="color: white;"> Quotes for trying times </h5>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Whenever you find yourself on the side of the majority, it is time to pause and reflect.</p>
      <footer class="blockquote-footer">Mark Twain</footer>
    </blockquote>
  </div>
</div>

<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <a href="#" class="navbar-brand">Developed by : </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
            <a href="http://www.cse.iitd.ac.in/~cs1180389/" class="nav-item nav-link active">Shrey Bansal</a>
            <a href="https://github.com/MukulSingh105" class="nav-item nav-link active">Mukul Singh</a>
        </div>
    </div>
</nav>

<script>
// Add the following code if you want the name of the file appear on select
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>

</body>
</html>
